In [3]:
print("hello world")

hello world

### Series, Dataframes and Read files using pandas.

## series

The Pandas Series can be defined as a one-dimensional array that is capable of storing various data types. 

We can easily convert the list, tuple, and dictionary into series using "series' method. 

The row labels of series are called the index.

 A Series cannot contain multiple columns. It has the following parameter:

data: It can be any list, dictionary, or scalar value.
index: The value of the index should be unique and hashable. It must be of the same length as data. If we do not pass any index, default np.arrange(n) will be used.
dtype: It refers to the data type of series.
copy: It is used for copying the data.

Creating a Series:

We can create a Series in two ways:

Create an empty Series
Create a Series using inputs.

Create an Empty Series:
We can easily create an empty series in Pandas which means it will not have any value.

<series object> = pandas.Series()  

Example
import pandas as pd  
x = pd.Series()  
print (x)

In [4]:
import pandas as pd  
x = pd.Series()  
print (x)

Series([], dtype: object)

# Creating a Series using inputs:

We can create Series by using various inputs:

Array
Dict
Scalar value

import pandas as pd  
import numpy as np  
info = np.array(['P','a','n','d','a','s'])  
a = pd.Series(info)  
print(a)

In [27]:
import pandas as pd  
import numpy as np  
info = np.array(['P','a','n','d','a','s'])  
a = pd.Series(info)  
print(a, type(a))

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object <class 'pandas.core.series.Series'>

# Create a Series from dict

#import the pandas library   
import pandas as pd  
import numpy as np  
info = {'x' : 0., 'y' : 1., 'z' : 2.}  
a = pd.Series(info)  
print (a) 

# Create a Series using Scalar:

#import pandas library   
import pandas as pd  
import numpy as np  
x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)

# Create a Series from dict

In [6]:

#import the pandas library   
import pandas as pd  
import numpy as np  
info = {'x' : 0., 'y' : 1., 'z' : 2.}  
a = pd.Series(info)  
print (a) 
print(type(a))

x    0.0
y    1.0
z    2.0
dtype: float64
<class 'pandas.core.series.Series'>

# Create a Series using Scalar:

In [7]:
#import pandas library   
import pandas as pd  
import numpy as np  
x = pd.Series(4, index=[0, 1, 2, 3])  
print (x)

0    4
1    4
2    4
3    4
dtype: int64

# Accessing data from series with Position:

Once you create the Series type object, you can access its indexes, data, and even individual elements.

The data in the Series can be accessed similar to that in the ndarray.

import pandas as pd  
x = pd.Series([1,2,3],index = ['a','b','c'])  
#retrieve the first element  
print (x[0])

In [8]:
import pandas as pd  
x = pd.Series([1,2,3],index = ['a','b','c'])  
#retrieve the first element  
print (x[0])

1

C:\Users\VIJAY\AppData\Local\Temp\ipykernel_16928\3806813334.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (x[0])

In [28]:
import pandas as pd

x = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Retrieve the first element using label-based indexing
print(x['a'])

# Alternatively, retrieve the first element using position-based indexing
print(x[0])

#ser.iloc[pos]`
x.iloc[0]

1
1

C:\Users\VIJAY\AppData\Local\Temp\ipykernel_16928\3927480386.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(x[0])

1

# Retrieving Index array and data array of a series object

We can retrieve the index array and data array of an existing Series object by using the attributes index and values.

import numpy as np   
import pandas as pd   
x=pd.Series(data=[2,4,6,8])   
y=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])   
print(x.index)   
print(x.values)   
print(y.index)   
print(y.values)

In [29]:

import numpy as np   
import pandas as pd   
x=pd.Series(data=[2,4,6,8])   
y=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])   
print(x.index)   
print(x.values)   
print(y.index)   
print(y.values)

RangeIndex(start=0, stop=4, step=1)
[2 4 6 8]
Index(['a', 'b', 'c'], dtype='object')
[11.2 18.6 22.5]

# Retrieving Types (dtype) and Size of Type (itemsize)

You can use attribute dtype with Series object as <objectname> dtype for retrieving the data type of an individual element of a series object, you can use the itemsize attribute to show the number of bytes allocated to each data item.

import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],   
index=['x','y','z'])   
print(a.dtype)   
print(a.itemsize)    
print(b.dtype)   
print(b.itemsize)

In [11]:

import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],   
index=['x','y','z'])   
print(a.dtype)   
print(a.items)
# print(a.itemsize)    
print(b.dtype)   
print(b.shape, b.size, b.items, b.values)
# print(b.itemsize)

int64
<bound method Series.items of 0    1
1    2
2    3
3    4
dtype: int64>
float64
(3,) 3 <bound method Series.items of x    4.9
y    8.2
z    5.6
dtype: float64> [4.9 8.2 5.6]

# Retrieving Shape

The shape of the Series object defines total number of elements including missing or empty values(NaN).

import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
print(a.shape)   
print(b.shape)

In [12]:

import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
print(a.shape)   
print(b.shape)

(4,)
(3,)

# Retrieving Dimension, Size and Number of bytes:

import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],  
index=['x','y','z'])   
print(a.ndim, b.ndim)   
print(a.size, b.size)   
print(a.nbytes, b.nbytes)

In [13]:

import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],  
index=['x','y','z'])   
print(a.ndim, b.ndim)   
print(a.size, b.size)   
print(a.nbytes, b.nbytes)

1 1
4 3
32 24

# Checking Emptiness and Presence of NaNs

To check the Series object is empty, you can use the empty attribute. Similarly, to check if a series object contains some NaN values or not, you can use the hasans attribute.

# Example

import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,np.NaN])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
c=pd.Series()   
print(a.empty,b.empty,c.empty)   
print(a.hasnans,b.hasnans,c.hasnans)   
print(len(a),len(b))   
print(a.count( ),b.count( ))

In [34]:
import numpy as np   
import pandas as pd   

a=pd.Series(data=[1,2,3,np.NaN])   
# a=pd.Series(data=[1,2,3,4,5])   

b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
c=pd.Series()   

print(a.empty,b.empty,c.empty)   
print(a.hasnans,b.hasnans,c.hasnans)   
print(len(a),len(b))   
print(a.count(),b.count())

False False True
True False False
4 3
3 3

# Pandas Dataframe.

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns

We will get a brief insight on all these basic operation which can be performed on Pandas DataFrame :

        Creating a DataFrame
        Dealing with Rows and Columns
        Indexing and Selecting Data
        Working with Missing Data
        Iterating over rows and columns

# Creating a Pandas DataFrame:

In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file.
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. 
Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List: 
DataFrame can be created using a single list or a list of lists.

Example:

import pandas as pd

lst = [‘FRIEND’,’IN’,’NEED’,’IS’,’A’,’FRIEND’,’IN’,’DEED’]

df = pd.DataFrame(lst)

print(df)

In [36]:
import pandas as pd
lst = ['FRIEND','IN','NEED','IS','A','FRIEND','IN','DEED']
print(lst, type(lst), len(lst))
df = pd.DataFrame(lst)
print(df)

['FRIEND', 'IN', 'NEED', 'IS', 'A', 'FRIEND', 'IN', 'DEED'] <class 'list'> 8
        0
0  FRIEND
1      IN
2    NEED
3      IS
4       A
5  FRIEND
6      IN
7    DEED

# Head()

import pandas as pd
data = pd.read_csv(“word-prevalence.csv")
data_top = data.head()
data_top

Calling on series with n parameter 
import pandas as pd
 data = pd.read_csv(“word-prevalence.csv")
n = 9
series = data[“Word"]
top = series.head(n = n)
top

### Head()

In [16]:
import pandas as pd
data = pd.read_csv("unigram_freq.csv" )
data_top = data.head(20)
data_top

    word        count
0    the  23135851162
1     of  13151942776
2    and            8
3     to  12136980858
4      a   9081174698
5     in   8469404971
6    for   5933321709
7     is   4705743816
8     on   3750423199
9   that   3400031103
10    by   3350048871
11  this   3228469771
12  with   3183110675
13     i   3086225277
14   you   2996181025
15    it   2813163874
16   not   2633487141
17    or   2590739907
18    be   2398724162
19   are   2393614870

# Calling on series with n parameter

In [17]:
import pandas as pd

# Assuming 'unigram_freq.csv' file is in the same directory as your script
data = pd.read_csv('unigram_freq.csv')

# Check the column names
print(data.columns)

# Assuming the actual column name is 'count', not 'the'
n = 9
word_to_extract = 'the'
column_name = ['word', 'count']
series = data[column_name]

# Filter rows where the 'word' column is 'the' and use the head method to get the top N elements
top_the = data[data['word'] == word_to_extract][column_name].head(n)

# Display the result
print(top_the)

Index(['word', 'count'], dtype='object')
  word        count
0  the  23135851162

# Creating DataFrame from dict of ndarray/lists: 

To create DataFrame from dict of narray/list, all the narray must be of same length. 

If index is passed then the length index should be equal to the length of arrays. 

If no index is passed, then by default, index will be range(n) where n is the array length.

Example: 
import pandas as pd
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
print(df)

In [42]:
import pandas as pd
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}

print(data, type(data), '\n')
df = pd.DataFrame(data)
print(df)

{'Name': ['Tom', 'nick', 'krish', 'jack'], 'Age': [20, 21, 19, 18]} <class 'dict'>

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

# Dealing with Rows and Columns

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 
We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.
Column Selection: 

In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

Example:

import pandas as pd
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],

        'Age':[27, 24, 22, 32],

        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],

        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data)

print(df[['Name', 'Qualification']])

In [40]:
import pandas as pd
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
print(data, type(data), '\n\n')
df = pd.DataFrame(data)
print(df[['Name', 'Qualification']])

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 'Age': [27, 24, 22, 32], 'Address': ['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 'Qualification': ['Msc', 'MA', 'MCA', 'Phd']} <class 'dict'>


     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

# Row Selection: 

Pandas provide a unique method to retrieve rows from a Data frame.

DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. 

Rows can also be selected by passing integer location to an iloc[] function.

Example:
import pandas as pd
import pandas as pd
dataset=pd.read_excel('Athletes.xlsx',  index_col ='Name')
first = dataset.loc["AALERUD Katrine"]
second=dataset.loc["ABASS Abobakr"]
print(first, "\n\n\n", second)

In [20]:
import pandas as pd
import pandas as pd
dataset=pd.read_excel('Athletes.xlsx',  index_col ='Athlete')
first = dataset.loc["Alain Bernard"]
second=dataset.loc["Katie Hoff"]
print(first, "\n\n\n", second)

                Age Country  Year Closing Ceremony Date     Sport  \
Athlete
Alain Bernard  25.0  France  2008            2008-08-24  Swimming
Alain Bernard  29.0  France  2012            2012-08-12  Swimming

               Gold Medals  Silver Medals  Bronze Medals  Total Medals
Athlete
Alain Bernard            1              1              1           NaN
Alain Bernard            1              0              0           NaN


 Age                                     19.0
Country                        United States
Year                                    2008
Closing Ceremony Date    2008-08-24 00:00:00
Sport                               Swimming
Gold Medals                                0
Silver Medals                              1
Bronze Medals                              2
Total Medals                             NaN
Name: Katie Hoff, dtype: object

# Indexing and Selecting Data

Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame.

Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns.

Indexing can also be known as Subset Selection.

# Indexing a Dataframe using indexing operator [] :

Indexing operator is used to refer to the square brackets following an object. 

The .loc and .iloc indexers also use the indexing operator to make selections.

# Selecting a single Column

Example:

import pandas as pd
dataset = pd.read_excel(“Athletes.xlsx", index_col ="Name")
first = dataset[“NOC"]
print(first)

Indexing a DataFrame using .iloc[ ] :
This function allows us to retrieve rows and columns by position. 

In order to do that, we’ll need to specify the positions of the rows that we want, and the positions of the columns that we want as well. 

The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.

In [21]:
import pandas as pd
dataset = pd.read_excel("Athletes.xlsx", index_col ="Athlete")
# dataset
first = dataset["Sport"]
print(first)

Athlete
Michael Phelps            Swimming
Michael Phelps            Swimming
Michael Phelps            Swimming
Natalie Coughlin          Swimming
Aleksey Nemov           Gymnastics
                           ...
Olena Sadovnycha           Archery
Kateryna Serdiuk           Archery
Wietse van Alten           Archery
Sandra Wagner-Sachse       Archery
Rod White                  Archery
Name: Sport, Length: 8618, dtype: object

# Example:

import pandas as pd
data = pd.read_excel(“Athletes.xlsx", index_col ="Name")
row = dataset.iloc[3] 
print(row)

Selecting multiple columns
In order to select multiple columns, we have to pass a list of columns in an indexing operator.

# Example:
import pandas as pd
dataset = pd.read_excel(“Athletes.xlsx", index_col ="Name")
first = dataset[[“NOC", “Discipline"]]
Print(first)

In [1]:
import pandas 
# dir(pandas)

In [7]:
data.head(1)

,Age,Country,Year,Closing Ceremony Date,Sport,Gold Medals,Silver Medals,Bronze Medals,Total Medals
Athlete,,,,,,,,,
Michael Phelps,23.0,United States,2008,2008-08-24,Swimming,8,0,0,NaN

In [5]:

import pandas as pd
data = pd.read_excel("Athletes.xlsx", index_col ="Athlete")
# print(data)
# row = dataset.iloc[3] 
row_3 = data.iloc[3] 
column_3 = data.iloc[:,3]

print(row_3, '\n\n')
# print(help(dataset.iloc()))
print(column_3)

Age                                     25.0
Country                        United States
Year                                    2008
Closing Ceremony Date    2008-08-24 00:00:00
Sport                               Swimming
Gold Medals                                1
Silver Medals                              2
Bronze Medals                              3
Total Medals                             NaN
Name: Natalie Coughlin, dtype: object


Athlete
Michael Phelps         2008-08-24
Michael Phelps         2004-08-29
Michael Phelps         2012-08-12
Natalie Coughlin       2008-08-24
Aleksey Nemov          2000-10-01
                          ...
Olena Sadovnycha       2000-10-01
Kateryna Serdiuk       2000-10-01
Wietse van Alten       2000-10-01
Sandra Wagner-Sachse   2000-10-01
Rod White              2000-10-01
Name: Closing Ceremony Date, Length: 8618, dtype: datetime64[ns]

In [23]:
import pandas as pd
dataset = pd.read_excel('Athletes.xlsx', index_col ="Athlete")
first = dataset[['Year', "Sport"]]
print(first)

                      Year       Sport
Athlete
Michael Phelps        2008    Swimming
Michael Phelps        2004    Swimming
Michael Phelps        2012    Swimming
Natalie Coughlin      2008    Swimming
Aleksey Nemov         2000  Gymnastics
...                    ...         ...
Olena Sadovnycha      2000     Archery
Kateryna Serdiuk      2000     Archery
Wietse van Alten      2000     Archery
Sandra Wagner-Sachse  2000     Archery
Rod White             2000     Archery

[8618 rows x 2 columns]

# Selecting Two rows and Three columns

import pandas as pd
dataset = pd.read_excel(“Athletes.xlsx", index_col ="Name")
first = dataset.loc[["ABBINGH Lois ", "ABDALRASOOL Mohamed "],
                   ["NOC", “Discipline"]]
print(first)

Selecting all of the rows and some columns

Dataframe.loc[[:, ["column1", "column2", "column3"]]

Example:

import pandas as pd
dataset = pd.read_excel(“Athletes.xlsx", index_col ="Name")
first = dataset.loc[:, [“NOC", “Discipline”]]  
print(first)

In [24]:
import pandas as pd
dataset = pd.read_excel('Athletes.xlsx', index_col ="Athlete")
first = dataset.loc[["Olena Sadovnycha", "Rod White"],["Sport", "Year"]]
print(first)
# print(dataset)

                    Sport  Year
Athlete
Olena Sadovnycha  Archery  2000
Rod White         Archery  2000

#### Selecting multiple rows

In [25]:
# Example:
import pandas as pd
dataset = pd.read_excel('Athletes.xlsx', index_col ="Athlete")
row2 = dataset.iloc [[3, 1, 2]]
print(row2)

                   Age        Country  Year Closing Ceremony Date     Sport  \
Athlete
Natalie Coughlin  25.0  United States  2008            2008-08-24  Swimming
Michael Phelps    19.0  United States  2004            2004-08-29  Swimming
Michael Phelps    27.0  United States  2012            2012-08-12  Swimming

                  Gold Medals  Silver Medals  Bronze Medals  Total Medals
Athlete
Natalie Coughlin            1              2              3           NaN
Michael Phelps              6              0              2           NaN
Michael Phelps              4              2              0           NaN

# Selecting two rows and columns

In [26]:
import pandas as pd
dataset = pd.read_excel('Athletes.xlsx', index_col ="Athlete")
row3 = dataset.iloc [[3, 4], [0, 1]]
print(row3)

                   Age        Country
Athlete
Natalie Coughlin  25.0  United States
Aleksey Nemov     24.0         Russia